<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter App</title>
    <link rel="stylesheet" href="../static/counter_styles.css"/>
</head>
<body>
    <span>{{ number }}</span>
    <div>
        <form action="/decrement">
            <button>-</button>
        </form>
    
        <form action="/increment">
            <button>+</button>
        </form>
    </div>
</body>
</html>